 
<! DOCTYPE html >
 <!--[si es IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
 <!--[si IE 7]> <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
 <!--[si IE 8]> <html class="no-js lt-ie9"> <![endif]-->
 <!--[si es IE 8]> <html class="no-js"> <--<[endif]-->
 <html>​​
 < cabeza >
 < meta charset = "utf-8" >
 < meta http-equiv = "Compatible con X-UA" contenido = "IE=edge" >
 < título ></ título >
 < meta nombre = "descripción" contenido = "" >
 < meta name = "viewport" content = "width=ancho del dispositivo, escala inicial=1" >
 < link rel = "hoja de estilo" href = "" >
 </ cabeza >
 < cuerpo >
 < h1 > Esta es una plantilla principal </ h1 >
 <!--[si es IE 7]>
 <p class="browsehappy">Estás usando un navegador obsoleto. Por favor, <a href="#">actualiza tu navegador</a> para mejorar tu experiencia.</p>
 <![fin si]-->
 < guión origen = "" asíncrono aplazar ></ script >
 </ cuerpo >
 </html>